#
#   rosconsole will find this file by default at $ROS_ROOT/config/rosconsole.config
#
#   You can define your own by e.g. copying this file and setting
#   ROSCONSOLE_CONFIG_FILE (in your environment) to point to the new file
#

log4j.logger.ros.auto_docking=INFO,auto_docking
# output to file Appender
log4j.appender.auto_docking=org.apache.log4j.RollingFileAppender
# log level INFO
log4j.appender.auto_docking.Threshold=INFO
# Append mode
log4j.appender.auto_docking.Append=true
# file size
log4j.appender.auto_docking.MaxFileSize=1MB
# file counter
log4j.appender.auto_docking.MaxBackupIndex=5
# output to file ${ROSOUT_LOG_PATH}
log4j.appender.auto_docking.File=${HOME}/log/latest/auto_docking.log
# PatternLayout
log4j.appender.auto_docking.layout=org.apache.log4j.PatternLayout
# pattern
log4j.appender.auto_docking.layout.ConversionPattern = %-d{yyyy-MM-dd HH:mm:ss SSS} %p %m %n
